{% extends 'base.html' %}
{% block title %} make {% endblock title %}

{% block content %}
<form action="{% url 'make_pickaxe' %}" method="post">
    {% csrf_token %}
    <label for="wood_quantity">Wood Quantity:</label>
    <input type="number" name="wood_quantity" id="wood_quantity" value="1" min="1"><br>
    <label for="metal_quantity">Metal Quantity:</label>
    <input type="number" name="metal_quantity" id="metal_quantity" value="1" min="1"><br>
    <button type="submit">Make Pickaxe</button>
</form>
{% endblock %}