{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="text-center">
      <br>
      <h1 class="display-4">Plant Disease Classification</h1>
      <p class="lead">Using Deep Learning</p>
      <br>

      <form id="upload-file" method="post" action='/disease' enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <div class="input-group mb-3">
                      <input type="file" name="file" class="form-control" id="imageUpload" accept=".png, .jpg, .jpeg">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>

      <div class="image-section" style="border: 2px solid #ccc; text-align: center; padding: 10px;">
          <img id="imagePreview" class="img-responsive" src="{{ MEDIA_URL }}/{{filename}}" style="max-width: 50%; max-height: 50%;" />
          <br><br>
      </div>

      <div class="spinner-border text-primary loader" role="status" style="display:none;"></div>

      <h3 id="result" class="mt-4">
          <span class="alert alert-success">{{ predicted_label }}</span>
      </h3>
    </div>
  </div>
{% endblock %}