{% extends 'base.html' %}

{% block title %} 
    Talk with PDF
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">PDF Chat</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="pdf_files">Upload PDF File(s):</label>
                <input type="file" name="pdf_files" id="pdf_files" class="form-control-file" multiple required>
            </div>
            <div class="form-group">
                <textarea name="user_question" rows="4" cols="50" class="form-control" placeholder="Ask a question"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if response_text %}
            <div class="mt-4">
                <h2>Response:</h2>
                <p id="response-text" class="lead">{{ response_text|linebreaksbr }}</p>
            </div>
        {% endif %}

        {% if related_content %}
            <div class="mt-4">
                <h2>Related Content:</h2>
                <ul class="list-group">
                    {% for content in related_content %}
                        <li class="list-group-item">{{ content }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var responseTextElement = document.getElementById('response-text');
            if (responseTextElement) {
                // Split the response text by '**' and join with '<br>' to put each part on a new line
                responseTextElement.innerHTML = responseTextElement.innerHTML.split('*').join('<br>');
            }
        });
    </script>
{% endblock %}
